{% extends 'layout-back.twig' %}

{% block dxcolumntop %}
    {% if(ErrorMsg) %}
        <a href="/user/{{ Userlog }}"><h4><img class="img-user" src="/images/user-2-icon.png">Ben tornato {{ Userlog }}</h4></a>
    {% endif %}
{% endblock %}


{% block maincontent %}
    {% set imgnews, titlenews, bodynews= '', '', '' %}
    {% if(ErrorMsg != true) %}
     <h4>Accesso negato a {{ Userlog }}</h4>
    {% endif %}
    {% block newsHome %}
        {% for i in 2..0 %}
            {% if(i==0) %}
                {% set imgnews, titlenews, bodynews= imgnews2, titlenews2, bodynews2 %}
            {% endif %}
            {% if(i==1) %}
                {% set imgnews, titlenews, bodynews= imgnews1, titlenews1, bodynews1 %}
            {% endif %}
            {% if(i==2) %}
                {% set imgnews, titlenews, bodynews= imgnews0, titlenews0, bodynews0 %}
            {% endif %}
        <div class="newshome">
            {% if imgnews != null %}
            <div class="img-news2">
                <img class="img-news" src="{{ imgnews }}">
            </div>
                {% endif %}
            <div class="bodynews">
                <h4>{{ titlenews | upper }}</h4>
                <hr style="width: 100%;">
                <p>{{ bodynews }}</p>
            </div>
        </div>

        {% endfor %}
            {% endblock %}
{% endblock %}

{% block dxcolumn %}
    <embed name="banner" src="/images/123-banner_com_sky224170.swf" quality="high" width="160" height="600" >
{% endblock %}
