{% extends 'layout.twig' %}

{%  block content %}
    Hello<br/>
    by {{ name }}<br/><br/>
    <a href=" {{ singin }} ">{{ singin }}</a><br/>
    <a href=" {{ login }} ">{{ login }}</a><br/>
    <a href=" {{ quit }} ">{{ quit }}</a><br/>
    <a href=" {{ about }} ">{{ about }}</a><br/>
{% endblock %}