{% extends 'layout.twig' %}

{% block maincontent %}
    <div class="sx-top">
    <a href=" {{ singin }} ">{{ singin |upper }}</a>
    </div>
    <div class="dx-top">
    <a href=" {{ login }} ">{{ login |upper }}</a>
    </div>
    <div class="sx-bottom">
    {% if(quit == 'https://www.google.it/') %}
        <a href=" {{ quit }} ">QUIT</a>
    {% else %}
        <a href=" {{ quit }} ">{{ quit |upper }}</a>
    {% endif %}
    </div>
    <div class="dx-bottom">
    <a href=" {{ about }} ">{{ about |upper }}</a>
    </div>
{% endblock %}