{% extends 'layout.twig' %}

{% block sxtop %}
    <a href=" {{ singin }} ">{{ singin |upper }}</a>
{% endblock %}

{% block dxtop %}
    <a href=" {{ login }} ">{{ login |upper }}</a>
{% endblock %}

{% block sxbottom %}
    {% if(quit == 'https://www.google.it/') %}
        <a href=" {{ quit }} ">QUIT</a>
    {% else %}
        <a href=" {{ quit }} ">{{ quit |upper }}</a>
    {% endif %}
{% endblock %}

{% block dxbottom %}
    <a href=" {{ about }} ">{{ about |upper }}</a>
{% endblock %}