{% extends 'layout-back.twig' %}

{% block sxcolumn %}
    {{ parent() }}
    {% if protect == false %}
        <br>
        <hr class="hr-menu">
    <p class="for-protect">Per i video protetti</p>
        <p class="for-protect">inserisci la tua password</p>
    <form class="formprotect" action = "{{ path_for('protect')}}" method = "POST">
        <label>Password:<input type = "password" name = "psw" placeholder="Your Password" /></label>
        <input type = "submit"/>
    </form>
        <hr class="hr-menu">
{% endif %}
    <form action="{{ path_for('protect')}}" method = "GET">
        <p class="for-protect">Ricerca per tag</p>
        <p class="for-protect">Seleziona il tag che ti interessa</p>
        <select name="tags">
            <option value="">Seleziona un tag</option>
            {% for video in allvideos %}
                {% if video['protetto'] == 0 %}
                    <option value="{{ video['tag'] }}">{{ video['tag'] }}</option>
                {% endif %}
            {% endfor %}
            {% for video in allvideos %}
            {% if protect == 1 %}
                {% if video['protetto'] == 1 %}
                    <option value="{{ video['tag'] }}">{{ video['tag'] }}</option>
                {% endif %}
            {% endif %}
            {% endfor %}
        </select>
        <br><br>
        <input type="submit">
    </form>
    <hr class="hr-menu">
{% endblock %}

{% block maincontent%}
    {% for video in videos %}
        {% if protect == false %}
            {% if video['protetto'] == 0 %}
                {%  if loop.first %}
                    <div class="video-fisrt">
                        <div class="title-video-first">
                            <a href="/view/video/?titolo={{ video['titolovideo'] }}">
                                {{ video['titolovideo'] }}
                            </a>
                        </div>
                        <br>
                        {{ video['embed'] | raw }}
                        <br>
                        - Tag: {{ video['tag'] }} -
                        <br>
                    </div>
                    <hr class="hr-video">
                {% else %}
                <div class="video">
            <div class="title-video">
                <a href="/view/video/?titolo={{ video['titolovideo'] }}">
                    {{ video['titolovideo'] }}
                </a>
            </div>
        <br>
        {{ video['embed'] | raw }}
        <br>
        - Tag: {{ video['tag'] }} -
        <br>
        </div>
                {% endif %}
            {% endif %}
            {% else %}
                {% if video['protetto'] == 1 %}
                    {%  if loop.first %}
                        <div class="video-first">
                            <div class="title-video-first">
                                <a href="/view/video/?titolo={{ video['titolovideo'] }}">
                                {{ video['titolovideo'] }}
                                </a>
                            </div>
                            <br>
                            {{ video['embed'] | raw }}
                            <br>
                            - Tag: {{ video['tag'] }} -
                            <br>
                        </div>

                    {% else %}
                    <div class="video">
                        <div class="title-video">
                            <a href="/view/video/?titolo={{ video['titolovideo'] }}">
                                {{ video['titolovideo'] }}
                            </a>
                        </div>
                        <br>
                        {{ video['embed'] | raw }}
                        <br>
                        - Tag: {{ video['tag'] }} -
                        <br>
                    </div>
                    {% endif %}
                {% endif %}
    {% endif %}
    {% endfor %}
{% endblock %}
